.flex-div {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    height: 400px;
}

.first-child-div {
    background-color: blue;
    height: 100px;
    flex: 1;
}

.seconds-child-div {
    background-color: red;
    height: 100px;
    width: 50px;
}

.third-child-div {
    flex: 2;
    background-color: yellow;
    height: 100px;
}
