.search-bar-input {
    width: 45%;
    border-radius: 50px;
    padding: 18px 28px;
    border-style: none;
    background-color: rgb(232, 232, 232);
    color: rgb(87, 87, 87);
    font-size: 24px;
    min-width: 300px;
}

.search-bar-input:focus {
    outline: none;
}

.search-videos-img {
    width: 30px;
    height: 30px;
}

.search-videos-btn {
    background-color: rgb(46, 95, 216);
    border: none;
    padding: 17px 28px 17px 20px;
    border-radius: 0px 100px 100px 0px;
    margin-left: -70px;
}

.search-videos-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.video-category-img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
}

.video-category-img:hover {
    transform: scale(1.1);
}

.video-category-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-category-name-h3 {
    margin: 0;
    color: rgb(173, 55, 55);
    margin-top: 8px;
    font-size: 24px;
    text-transform: uppercase;
}

.video-categories-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.video-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.15s ease;
}

.video-div:hover {
    transform: scale(1.05);
}

.video-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.video-desc-p {
    margin: 12px;
}

.videos-div {
    /* elementi se prikazuju u stupcima */
    display: grid;
    /* četiri stupca jednake širine */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 20px;
    row-gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.video-duration-span {
    background-color: black;
    color: white;
    padding: 3px;
    /* vrijeme na video je u dojnjem desnom kutu , da bi position
    absolute imao efekta, roditelj ovog elemena mora biti position
    relative */
    position: absolute;
    /* ako je position absolute aktivam , bottom znači da će biti */
    /* 10px od dna */
    bottom: 10px;
    /* slično kao bottom */
    right: 5px;
}

.video-and-duration-div {
    position: relative;
}

.more-options-img {
    width: 20px;
    height: 20px;
}

.video-title-options-div {
    display: flex;
}

.video-desc-p {
    flex: 1;
}

.more-option-btn {
    border: none;
    background-color: transparent;
}

.menu-icon-img {
    width: 30px;
    height: 30px;
}

.menu-btn {
    border: none;
    background-color: transparent;
}

.mobile-menu-div {
    display: none;
    justify-content: center;
    margin-top: 20px;
}

.sidebar-div {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 5%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.left-sidebar-div {
    left: 0px;
    background-image: url("assets/images/shows_bg_left_2.png");


}

.right-sidebar-div {
    right: 0px;
    background-image: url("assets/images/shows_bg_right_2.png");
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .videos-div {
        grid-template-columns: 1fr;
    }

    .video-categories-div {
        display: none;
    }

    .mobile-menu-div {
        display: flex;
    }

    .sidebar-div {
        display: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .videos-div {
        grid-template-columns: 1fr 1fr;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .videos-div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .videos-div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}