.site-logo-img {
    width: 200px;
    height: 60px;
    /* slika zadržava svoj omjer u containeru */
    object-fit: contain;
}

.site-logo-btn {
    background-color: transparent;
    border: none;
}

.site-header-nav {
    display: flex;
    /* prostor između elemenata je prazan, logo je lijevo, a meni je desno */
    justify-content: space-between;
    margin-bottom: 2000px;
}

.menu-ul {
    /* sakrij bulete sa lijeve strane */
    list-style-type: none;
    display: flex;
    /* razmak između elemenata u flexu */
    gap: 10px;
}

.menu-ul a {
    color: rgb(184, 4, 52);
    /* sva slova velika */
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    /* sakrij podvučeni tekst */
    text-decoration: none;
}

/* na hover linka primjeni svojstva */
.menu-ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.menu-img {
    width: 30px;
    height: 30px;
}

.menu-btn {
    border: none;
    background-color: transparent;
    display: none;
}

/* Extra small devices (phones, 600px and down) */
/* svi selektori koji su u media queriju će se aktivirati ako je ekran */
/* manji od 600 density piksela */
@media only screen and (max-width: 600px) {
    .menu-btn {
        display: inline;
    }

    .menu-ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* element izlazi iz tijeka elementa i pri skrolu ostaje nepomičan */
        position: fixed;
        /* top samo vrijedi ako je position fixed ili absolute, koliko će piksela */
        /* biti od vrha ekrana */
        top: 70px;
        /* isto kao top */
        right: -100vh;
        /* širina elementa u vh, 100vh znači 100% vidljive širine ekrana */
        width: 100vw;
        height: calc(100vh - 80px);
        padding-inline-start: 0px;
        gap: 8vh;
        font-size: 26px;
        transition: right 0.3s ease-in;
    }

    /* ova klasa ce se aktivirati kada pritisne dugme na stranici */
    .menu-ul-visible {
        right: 0px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

