.site-logo-img {
    width: 200px;
    height: 60px;
    object-fit: contain;
}

.site-logo-btn {
    background-color: transparent;
    border: none;
}

.site-header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2000px;
}

.menu-ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.menu-ul a {
    color: rgb(184, 4, 52);
    text-transform: uppercase;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.menu-ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}

.menu-img {
    width: 30px;
    height: 30px;
}

.menu-btn {
    border: none;
    background-color: transparent;
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu-btn {
        display: inline;
    }

    .menu-ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 70px;
        right: -100vh;
        width: 100vw;
        height: calc(100vh - 80px);
        padding-inline-start: 0px;
        gap: 8vh;
        font-size: 26px;
        transition: right 0.3s ease-in;
    }

    .menu-ul-visible {
        right: 0px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

