p {
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: beige;
    padding: 20px;
    gap: 20px;
}


.contact-form > div {
    display: flex;
    gap: 20px;
}

.contact-form > div > div {
    flex: 1;
}

.contact-form input {
    width: 100%;
}

.contact-form textarea {
    width: 100%;
}

.block-div {
    display: block !important;
}

.submit-btn {
    align-self: center;
}

