html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.hero-section {
    background-color: antiquewhite;
    min-height: 500px;
    background-image: url("assets/hero section pc shop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content-div {
    width: 1124px;
}

.hero-content-div > h1 {
    font-size: 2rem;
}

.hero-content-div > p {
    font-size: 1.6rem;
}

.hero-content-div > button {
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    border: solid 2px white;
    transition: transform 0.3s ease-in-out;
}

.hero-content-div > button:hover {
    transform: scale(1.1);
}



