.search-videos-input {
    font-size: 18px;
    padding: 18px 28px;
    border-radius: 100px;
    border-style: none;
    background-color: rgb(232, 232, 232);
    color: rgb(45, 45, 45);
    width: 40%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */

}

.search-videos-input:focus {
    outline: none;
}

.search-button-img {
    width: 30px;
    height: 30px;
}

.search-video-btn {
    padding: 17px 30px 17px 17px;
    background-color: rgb(82, 82, 255);
    border: none;
    border-radius: 0px 100px 100px 0px;
    margin-left: -80px;
}

.search-videos-div {
    display: flex;
    justify-content: center;
    transition: transform 0.15s ease-in-out;
    margin-top: 40px;
}

.search-videos-div:hover {
    transform: scale(1.05);
}

.video-category-img {
    width: 70px;
    height: 70px;
    transition: transform 0.15s ease-in-out;
}

.video-category-img:hover {
    transform: scale(1.1);
}

.video-category-p {
    margin: 0;
    margin-top: 10px;
    color: rgb(193, 60, 60);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
}

.video-category-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.video-categories-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video-div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.15s ease-in-out;
}

.video-div:hover {
    transform: scale(1.05);
}

.video-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.video-title-p {
    margin: 0;
    font-size: 16px;
}

.video-options-img {
    width: 30px;
    height: 30px;
}

.video-title-div {
    display: flex;
    padding: 12px;
}

.video-title-p {
    flex: 1;
}

.video-more-options-btn {
    background-color: transparent;
    border: none;
}
.video-duration-span {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 4px;
}

.video-img-duration-div {
    position: relative;
}

.videos-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}